@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}
// ==== FONTS ===========================================================================================
@import "fonts";
// ==== // FONTS ===========================================================================================

// ==== VARS ===========================================================================================
@import "vars";
// ==== // VARS ===========================================================================================

// ==== Normalize ===========================================================================================
@import "normalize";
// ==== // НОРМАЛАЙЗ ===========================================================================================

//<MIXINE>===============================================================================================
@import "mixins.scss";
//</MIXINE>===============================================================================================

//<ICOMOON>===============================================================================================
@import "../icomoon/style";
//</ICOMOON>===============================================================================================

//<FANCYBOX>===============================================================================================
//@import "plagins/fancybox.scss";
//<FANCYBOX>===============================================================================================

// ==== PLAGINS ===========================================================================================
@import "plagins/swiper-bundle";
@import "plagins/datepicker";
// ==== // PLAGINS ===========================================================================================

// ==== FORM STYLE DEFAULT ===========================================================================================
@import "forms";
// ==== FORM STYLE DEFAULT ===========================================================================================

// ==== BORDER ===========================================================================================
@import "../common/burger/burger";
// ==== BORDER ===========================================================================================

// ==== POPUP ===========================================================================================
//@import "common/popup/popup";
// ==== // POPUP ===========================================================================================

* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
aside,
nav,
footer,
header,
section {
	display: block;
}
html {
	font-size: 10px;
	height: 100%;
}
html,
body {
	min-width: $minwidth;
	margin: 0 auto;
}
body {
	line-height: 1;
	font-family: $mainFontFamily;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	color: $textColor;
	font-size: 1.7rem;
	transition: opacity 0.8s ease;
	display: flex;
	flex-direction: column;
	position: relative;
	min-height: 100%;

	&.lock {
		overflow: hidden;
	}
}

input,
button,
textarea {
	font-family: $mainFontFamily;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

[disabled] {
	pointer-events: none;
	color: rgba(33, 57, 87, 0.5);

	& * {
		color: rgba(33, 57, 87, 0.5) !important;
	}

	& .address-amount {
		& input {
			background-color: rgba(33, 57, 87, 0.5);
		}
	}
}

.center {
	text-align: center;
}

._page {
	flex: 1 1 auto;
	width: 100%;
	min-height: 100%;
	overflow: hidden;
}

.container-lg {
	max-width: 1375px;
	margin: 0 auto;
	padding: 0 40px;

	@media (max-width: $md4+px) {
		padding-left: 15px;
		padding-right: 15px;
	}
}
.container-md {
	max-width: 1165px;
	margin: 0 auto;
	padding: 0 40px;

	@media (max-width: $md4+px) {
		padding-left: 15px;
		padding-right: 15px;
	}
}
.container-sm {
	max-width: 905px;
	margin: 0 auto;
	padding: 0 40px;

	@media (max-width: $md4+px) {
		padding-left: 15px;
		padding-right: 15px;
	}
}

.ibg {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

// === title ========================================================================
.title-1 {
}
.title-2 {
	font-weight: 800;
	font-size: 45px;
	line-height: 1.333em;
	letter-spacing: -0.02em;

	@media (max-width: $md4+px) {
		font-size: 38px;
	}
}

.title-3 {
}

.title-4 {
}

.title-5 {
}
.title-6 {
}

.suptitle {
}
.subtitle {
}

.text {
	font-weight: 300;
	font-size: 18px;
	line-height: 1.52em;

	@media (max-width: $md4+px) {
		font-size: 16px;
	}

	& p {
		margin-bottom: 1.33em;
	}

	&:not(.text-2) {
		& ul {
			margin-bottom: 1.33em;

			& > li {
				position: relative;
				padding-left: 20px;

				&:not(:last-child) {
					margin-bottom: 10px;
				}

				&:before {
					position: absolute;
					content: "";
					top: 9px;
					left: 0;
					width: 10px;
					height: 10px;
					background-color: $mainColor;
					border-radius: 50%;

					@media (max-width: $md4+px) {
						top: 7px;
					}
				}
			}
		}
	}
}

.text-big {
	font-size: 28px;
	line-height: 149%;
	font-weight: 300;

	@media (max-width: $md3+px) {
		font-size: 20px;
	}
}
// === and title ========================================================================

// === btn ========================================================================
.btn-default {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	min-height: 54px;
	padding: 13px 34px;
	background-color: $mainColor;
	cursor: pointer;
	font-weight: 800;
	font-size: 18px;
	line-height: 149%;
	color: $textColor;
	transition: all 0.3s ease;
	border-radius: 100px;

	@media (max-width: 575.98px) {
		padding: 8px 24px;
		min-height: 45px;
		font-size: 16px;
	}

	@media (min-width: 992px) {
		&:hover {
			background-color: #3b6ca1;
			color: $textColorLight;
		}
	}

	&.btn-default_dark {
		background-color: $textColor;
		color: $mainColor;
		border: 1px solid $mainColor;
	}
}

// === and btn ========================================================================

.input {
	background: #ffffff;
	border: 1px solid #858d8f;
	display: flex;
	align-items: center;
	border-radius: 100px;
	height: 56px;
	padding: 8px 33px;
	font-weight: 300;
	font-size: 15px;
	line-height: 120%;
	color: $textColor;
	width: 100%;

	@media (max-width: $md4+px) {
		padding: 8px 20px;
	}

	&::placeholder {
		font-weight: 300;
		font-size: 15px;
		line-height: 120%;
		color: #949494;
	}
}

.textarea {
	border: 1px solid #858d8f;
	box-sizing: border-box;
	border-radius: 24px;
	padding: 14px 39px;
	resize: none;
	height: 157px;
	font-weight: 400;
	font-size: 20px;
	line-height: 149%;
	color: $textColor;
	width: 100%;

	&::placeholder {
		font-weight: 800;
		font-size: 20px;
		line-height: 149%;
		color: #949494;
	}

	@media (max-width: $md4+px) {
		padding-left: 20px !important;
		padding-right: 20px !important;
	}
}

.link {
	font-weight: 800;
	font-size: 16px;
	line-height: 149%;
	color: $textColor;
	transition: all 0.3s ease;

	@media (min-width: 992px) {
		&:hover {
			color: #3b6ca1;
		}
	}
}

.icon-left {
	display: inline-flex;
	align-items: center;
	font-family: $mainFontFamily !important;

	& img {
		max-height: 34px;
		width: auto;
		margin-right: 13px;
	}
}

.hover {
	transition: all 0.3s ease;

	@media (min-width: 992px) {
		&:hover {
			color: $mainColor !important;
		}
	}
}

.text-center {
	text-align: center;
}

// === TEXT CONTETN BLOCK ========================================================================
.text-content {
	font-size: 18px;
	line-height: 149%;
	font-weight: 300;

	& h1 {
	}
	& h2 {
	}
	& h3 {
	}
	& h4 {
	}

	& h5 {
		font-weight: 800;
		font-size: 25px;
		line-height: 1.2em;
		letter-spacing: -0.02em;
		margin-bottom: 1.3em;
	}
	& h6 {
	}

	& p {
		margin-bottom: 1.6em;

		& ~ h5 {
			margin-top: 1.9em;
		}
	}

	& ul {
	}

	& ol {
	}

	& figure {
	}
}
// === and TEXT CONTETN BLOCK ========================================================================

// ==== BLOCKS =====================================================
@import "../common/header/header";
@import "../common/footer/footer";
@import "../common/checkbox/checkbox";
@import "../common/booking-form/booking-form";
@import "../common/rating/rating";
@import "../common/testimonials/testimonials";
@import "../common/process/process";
@import "../common/hero/hero";
@import "../common/questions/questions";
// ==== BLOCKS =====================================================

// ==== PAGES =====================================================
@import "pages/home";
@import "pages/size-deliveries";
@import "pages/booking";
@import "pages/partner";
@import "pages/services";
@import "pages/about";
@import "pages/contact";
@import "pages/blog";
// ==== AND PAGES =====================================================
