.checkbox-radio {
    display: flex;
    align-items: center;
    cursor: pointer;

    & input[type="checkbox"], & input[type="radio"] {
        display: none;

        &:checked ~ .checkbox-radio__square {
            & img {
                opacity: 1;
            }
        }
    }

    &__square {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 auto;
        width: 35px;
        height: 35px;
        margin-right: 20px;
        border-radius: 10px;
        background-color: $textColor;

        & img {
            transition: all 0.3s ease;
            opacity: 0;
        }
    }

    &__text {
        font-weight: 800;
        font-size: 20px;
        line-height: 1.25em;
        letter-spacing: -0.02em;
    }
}
