.process {
    position: relative;
    font-size: 10px;
    padding-bottom: 16em;

    @media (max-width: 1130px) {
        font-size: 8px;
    }
    @media (max-width: 930px) {
        font-size: 6px;
    }
    @media (max-width: 690px) {
        font-size: 4px;
    }

    @media (max-width: $md4+px) {
        font-size: 3px;
    }

    @media (max-width: $md3+px) {
        padding-bottom: 50px;
    }
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        

        & img {
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
            opacity: 0.5;
        }
    }

    &__body {
        position: relative;
        z-index: 2;
        text-align: center;
        max-width: 116.5em;
    }

    &__title {

        margin-bottom: 1.5em;
    }

    &__list {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        margin: 0 -0.5em;
        
        height: 64em;
        @media (min-width: 1130px) {
        }
    }

    &__list-item {
        padding: 0 0.5em;
        flex: 0 1 25%;
       // margin-bottom: 14em;

       // @media (min-width: 1130px) {
            margin-bottom: 0;
            position: absolute;
            width: calc(25% - 0.5em);
            z-index: 7;
            &:nth-child(1) {
                left: 0%;
                bottom: 63%;
            }
            &:nth-child(2) {
                left: 25%;
                bottom: 28%;
            }
            &:nth-child(3) {
                left: 50%;
                bottom: 38%;
            }
            &:nth-child(4) {
                left: 75%;
                bottom: 11%;
            }
       // }

        // @media (max-width: $md2+px) {
        //     flex: 0 1 50%;
        // }
    }

    &__card {
        background: linear-gradient(180deg, #183967 0%, #102f58 100%);
        position: relative;
        border-radius: 0.9em;
        padding: 3.3em 1.5em 2em;

        // @media (max-width: 1129.98px) {
        //     height: 100%;
        // }

        // @media (max-width: 575.98px) {
        //     padding: 2em 1em 1.5em;
        // }
    }

    &__card-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5.8em;
        margin-bottom: 1em;

        // @media (max-width: 575.98px) {
        //     height: 4em;
        //     margin-bottom: 0.6em;
        // }

        & img {
            max-height: 100%;
            max-width: 100%;
            width: auto;
            height: auto;
        }
    }

    &__card-title {
        font-weight: 800;
        font-size: 2.8em;
        line-height: 1.2em;
        letter-spacing: -0.02em;
        color: $mainColor;
        margin-bottom: 0.35em;

        // @media (max-width: 575.98px) {
        //     font-size: 2em;
        //     margin-bottom: 0.3em;
        // }
    }

    &__card-text {
        color: $textColorLight;
        font-size: 1.8em !important;
        // @media (max-width: 575.98px) {
        //     font-size: 1.6em;
        // }
    }

    &__card-bottom {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, calc(100% - 1px));
        width: 3.5em;

        & img {
            width: 100%;
            height: auto;
        }
    }

    &__card-num {
        background: $mainColor;
        border: 0.15em solid #000000;
        height: 2.3em;
        width: 2.3em;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.2em;
        font-weight: 800;
        font-size: 2em;
        line-height: 1.1em;
        text-transform: uppercase;
        color: #000000;
        position: absolute;
        left: 50%;
        bottom: -4.35em;
        transform: translate(-50%, 0);
    }

    &__line {
        position: absolute;
        width: 79.1em;
        left: 50%;
        bottom: -0.4em;
        transform: translateX(-50%);
        & img {
            width: 100%;
            height: auto;
        }

        // @media (max-width: 1129.98px) {
        //     display: none;
        // }
    }
}
